body {
	background-image: url('bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
label {
	color:  #211f1f;
}
form #btn {
	width:  30%;
}
form #email {
	width:  89%;	
			}
form {
	margin: auto;
	margin-left: 10%;		
	margin-top: 10px;		
}
input[type=tb], select {
  	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input #emails {
	width: 30%;
}
input[type=button] {
  	width: 100%;
	background-color: #167043;
	color: white;
	padding: 14px 20px;	
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left:  120px;
}